<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        :root {
            --bg-dark: oklch(0.1 0.005 84);
            --bg: oklch(0.15 0.005 84);
            --bg-light: oklch(0.2 0.005 84);
            --text: oklch(0.96 0.01 84);
            --text-muted: oklch(0.76 0.01 84);
            --highlight: oklch(0.5 0.01 84);
            --border: oklch(0.4 0.01 84);
            --border-muted: oklch(0.3 0.01 84);
            --primary: oklch(0.76 0.1 84);
            --secondary: oklch(0.76 0.1 264);
            --danger: oklch(0.7 0.05 30);
            --warning: oklch(0.7 0.05 100);
            --success: oklch(0.7 0.05 160);
            --info: oklch(0.7 0.05 260);
        }
    </style>
</head>